@import url('https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&amp;display=swap');
@import url('https://fonts.cdnfonts.com/css/strange-piece');
@import url('https://fonts.cdnfonts.com/css/strasua');
@import url('https://fonts.cdnfonts.com/css/a-attack-graffiti');

body {
    background-color: #000;
    font-family: "pr";
    color: #fff;
}
  .btnwrap {
      min-height: 100vh;
      min-width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: black;
      
  }
  #overlay-start{
      font-size: 150%;  
      color: white;
      background-color: black;	
  }
  #overlay-start:hover{
      text-decoration: underline;
  }
  .wrapper {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: .5s;
      margin: auto;
      visibility: hidden;
      text-align: center;
  }

@font-face {
    font-family: "mc";
    src: url("../pr.ttf") format("opentype");
}

@font-face {
    font-family: "pr";
    src: url("../pr.ttf");
}
.lanyard-profile-picture {
    border-radius: 100px;
    width: 130px;
    height: 130px;;
  }


::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.archive-box {
    margin: 0 auto;
    padding: 2em 0 5em 0;
}

    .archive-box .top-wrap {
        text-align: center;
        margin-bottom: 5em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .top-wrap img {
        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.50));
        padding: 0!important;
        height: 125px;
        width: 125px;
        padding: .5em 1em 1em 1em;
        border-radius: 25%;
        margin: 0 auto;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: transform .2s ease;
    }

    .top-wrap a:hover img  {
        transform: scale(1.05);
    }

        .top-wrap h1 {
            margin: 0;
            font-family: mc;
            margin-top: .5em;
        }

    .archive-box .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
    }
    .archive-box .row2 {
        display: flex;
        justify-content: center;
        width: 160%;
        margin: 30 auto;
        margin-bottom: 2em;
    }

        .archive-box .item {
            background-color: rgb(15, 15, 15);
            flex: 0 20%;
            align-items: center;
            border-radius: 10px;
            margin: 0 1em
        }

            .archive-box .item > .content {                
                display: flex;
                flex-direction: column;
                padding: 1em;
                min-height: 175px;
                position: relative;
            }

                .archive-box .img-wrap {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                }

                    .archive-box a {
                        text-decoration: none;
                        font-size: 22px;
                        font-weight: bold;
                        color: #fff;
                        transition: ease-in-out .1s;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }

                    .archive-box a:hover {
                        color: #b3b3b3;
                        text-shadow: 0 0 5px #b3b3b3;
                    }

                    .archive-box .img-wrap > img {
                        height: 125px;
                        width: 125px;
                        padding: .5em .5em .5em .5em;
                        border-radius: 50%;
                        margin: 0 auto;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }

                    .archive-box a#button {
                        background-color: #fff;
                        color: #000;
                        border: none;
                        font-size: 12px;
                        width: 60px;
                        margin: 0 auto;
                        border-radius: 15px;
                        padding: 8px 10px;
                        font-family: "pr";
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        transition: .1s ease-in-out;
                        line-height: 1;
                        font-weight: 600;
                    }

                    .archive-box a#buttons {
                        background-color: 7700FF;
                        color: rgb(255, 255, 255);
                        border: none;
                        font-size: 12px;
                        width: 20px;
                        margin: 3 auto;
                        border-radius: 15px;
                        padding: 8px 10px;
                        font-family: "pr";
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        transition: .1s ease-in-out;
                        line-height: 1;
                        font-weight: 600;
                    }

                    .socials {
                        margin: 2em 0 1em 0;
                    }

                        .socials a {
                            width: 30px;
                        }

                        .socials a img {
                            height: 30px;
                            width: 30px;
                            transition: .1s ease-in-out;
                            margin: 0 .5em;
                        }

                        .socials a img:hover {
                            transform: scale(1.1);
                        }

                        
/* Media queries */

@media (max-width: 1400px) {

    .archive-box .img-wrap {
        display: flex;
        flex-direction: column;
    }

        .archive-box .img-wrap img {
            margin: 0 auto;
        }

        .archive-box .img-wrap button {
            width: 100px;
            margin: 0 auto;
        }

    .archive-box .item > .content {
        flex-direction: column;
    }

        .archive-box .item p {
            padding-right: 0px!important;
        }

    

}

@media (max-width: 1000px) {

    .archive-box .row {
        flex-direction: column;
        margin-bottom: 0;
        width: 90%;
    }
    .archive-box .row2 {
        flex-direction: column;
        margin-bottom: 0;
        width: 90%;
    }

    .archive-box .item {
        margin: 0;
        margin-bottom: 2em;
        align-self: baseline;
        width: 100%;
    }

        .archive-box p {
            height: auto;
            max-height: 125px;
        }

}